body {
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 100%;
    width: 500px;
    margin: 0 auto;
    padding: 10px 20px;
}

img {
    width: 200px;
    right: 100px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

input {
    padding: 4px 10px;
    font-size: 16px;
    border: black;
}

.search {
    width: 74%;
    border: solid grey;
}

.submit {
    width: 79%;
    background-color: white;
    color: black;
    border: solid grey;
}

span {
    font: bold 12pt Arial;
    color: black;
}